/* Typography Page Forms */
#pro_contact-form{line-height:18px;}
	#pro_contact-form label{ min-height:40px; position:relative; display:block;}
	#pro_contact-form input,#pro_contact-form  textarea{ border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden; width:270px;}
	#pro_contact-form  textarea{ resize:none; overflow:auto; height:170px;}
#pro_contact-form .pro_buttons{ position:relative; padding:20px 10px  0 0; text-align:right;}
	#pro_contact-form .pro_buttons span{ display:inline-block; margin-right:15px;}
#pro_contact-form .success,
#pro_contact-form .error,
#pro_contact-form .empty{display:none; text-align:left;}
#pro_contact-form .error,
#pro_contact-form .empty{position:relative; color:red; font-size:11px; top:0px; left:10px;}
#pro_contact-form .success,
#pro_contact-form .success strong{ color:#000; background:none; box-shadow:none;}
#pro_contact-form .success{ padding-bottom:5px;-pie-background:none;}
/* ------------------------------------------------ */
#pro_form1{line-height:18px;}
	#pro_form1 label{ display:block; position:relative; min-height:40px;}
	#pro_form1 input[type="text"]{ border-radius:3px; width:180px;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none; overflow:hidden;}
	#pro_form1 input[type="radio"]{ margin:5px 0 0;}
	#pro_form1 input[type="checkbox"]{ margin:10px 0 0;}
	#pro_form1 textarea{ resize:none;border-radius:3px; height:120px; overflow:auto;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;width:270px; overflow:hidden;}
	#pro_form1 select{ width:195px; border:1px solid #ddd; padding:5px; border-radius:3px;}
	#pro_form1 span.pro_text-form{ display:inline-block; padding:5px 0 0; min-width:80px;}
	#pro_form1 div.pro_text-form{ padding:5px 0 10px 0;}
	#pro_form1 .pro_text-form2{ margin:2px 10px 0 8px; display:inline-block;}
	#pro_form1 .pro_text-form3{ margin:7px 0px 0 8px; display:inline-block;}
	#pro_form1 .pro_btns{ padding:10px 0 0 0;}
/* ------------------------------------------------ */
#pro_form2{line-height:18px;}
	#pro_form2 label{ display:block; position:relative; min-height:40px;}
	#pro_form2 input[type="text"]{ border-radius:3px; width:180px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
	#pro_form2 textarea{ resize:none;border-radius:3px; height:120px; box-shadow:inset 0 0 5px rgba(0,0,0,.1); overflow:auto;font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;width:270px;}
	#pro_form2 span.pro_text-form{ display:inline-block; padding:5px 0 0; min-width:80px;}
	#pro_form2 div.pro_text-form{ padding:5px 0 10px 0; min-width:90px;}
	#pro_form2 .pro_text-form2{ margin:3px 0 0 5px;}
	#pro_form2 .pro_text-form3{ padding:8px 0px 5px 5px;}
	#pro_form2 .pro_btns{ padding:10px 0 0 0;}	
.pro_pad-form{ padding-top:5px;}
.pro_pad-form2{ padding-top:25px;}
/* ------------- * Selects * ------------- */
#pro_form2 .jqTransformSelectWrapper {position:relative; float:left; width:194px !important;}
#pro_form2 .jqTransformSelectWrapper div span{ display:block;float: none; width:184px !important;background:#fff;position:relative;white-space: nowrap;overflow:hidden;cursor:pointer;border:1px solid #ddd;padding:5px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
#pro_form2 .jqTransformSelectWrapper  a.jqTransformSelectOpen {display: block;position:absolute; right:2px;top:4px;width:22px;height:21px;background: url(../images/pro_images/select.png) no-repeat  0 0;}
#pro_form2 .jqTransformSelectWrapper  a.jqTransformSelectOpen:hover{ background-position:0 -21px;}
#pro_form2 .jqTransformSelectWrapper ul {
	position: absolute;
	top: 31px;
	left: 0px;
	background-color: #FFF;
	display: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	border:1px solid #ddd;
	width:194px !important;
	border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);}
#pro_form2 .jqTransformSelectWrapper ul a {display: block;padding:5px;color:#000;font-size:12px;padding-left:12px;}
#pro_form2 .jqTransformSelectWrapper ul a.selected {color: #B94A48;}
#pro_form2 .jqTransformSelectWrapper ul a:hover, 
#pro_form2 .jqTransformSelectWrapper ul a.selected:hover {color: #fff; background:#ddd;text-decoration:none;}
/* ------------- * Radios * ------------- */
#pro_form2 .jqTransformRadioWrapper {float: left;display:block; margin:5px 0 0;}
#pro_form2 .jqTransformRadio {
	background: transparent url(../images/pro_images/radio.png) 0 0px no-repeat;
	vertical-align: middle;
	height:16px;
	width:16px;
	display:block;/*display: -moz-inline-block;*/
}
/* ------------- * Checked - Radio * ------------- */
#pro_form2 a.jqTransformChecked {background: transparent url(../images/pro_images/radio.png) 0 -17px no-repeat;}
/* -- * Checkboxes * -- */
#pro_form2 span.jqTransformCheckboxWrapper{display:block;float:left; padding:10px 0 0 0;}
#pro_form2 a.jqTransformCheckbox {background: transparent url(../images/pro_images/checkbox.png) 0 0px no-repeat;vertical-align: middle;height:15px;width:15px;display:block;/*display: -moz-inline-block;*/}
/* -- * Checked * -- */
#pro_form2 .jqTransformCheckboxWrapper a.jqTransformChecked {background: transparent url(../images/pro_images/checkbox.png) 0 -16px no-repeat;}
/* ------------- * Hidden - used to hide the original form elements * ------------- */
#pro_form2 .jqTransformHidden {display: none;}
/* ------------------------------------------------ */
#pro_search,#pro_subscribe{ vertical-align:middle;line-height:18px;}
	#pro_search input,#pro_subscribe input{ width:180px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:1em;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none; overflow:hidden;}
	#pro_search .pro_btn,#pro_subscribe .pro_btn{ padding:7px 10px; margin-top:-1px;}
/* ------------------------------------------------ */
#pro_log_in{ vertical-align:middle;line-height:18px;}
	#pro_log_in input{ width:90px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none;overflow:hidden;}
	#pro_log_in .pro_btn{ padding:7px 10px; margin-top:-1px;}
/* ------------------------------------------------ */
#pro_log_in2{ vertical-align:middle; padding:10px 0 0 0; width:274px;line-height:18px;}
	#pro_log_in2 label{ display:block; min-height:40px;}
	#pro_log_in2 input{ width:258px; border-radius:3px; box-shadow:inset 0 0 5px rgba(0,0,0,.1);font-family:Arial, Helvetica, sans-serif;color:#000;font-size:13px;vertical-align:middle;font-weight:normal;padding:7px;margin:0;background:#fff;border:1px solid #ddd;outline:none; overflow:hidden;}
	#pro_log_in2 .pro_btn{ padding:7px 10px;}
	#pro_log_in2 .pro_buttons{ text-align:right; padding:5px 0;}
/* ------------------------------------------------ */
#pro_newsletter{vertical-align:middle; padding:30px 0 0 0;line-height:18px;}
#pro_newsletter input{ width:376px; border-radius:2px 0 0 2px; color:#8b8b8b; background:#eeeeee; border:1px solid #cdcdcd; border-right:none;padding:9px;font-family:Arial, Helvetica, sans-serif;font-size:13px;vertical-align:middle;font-weight:normal;margin:0;outline:none;overflow:hidden; min-height:16px;}
#pro_newsletter .pro_btn{ padding:9px 15px 10px; margin-top:0; margin-left:0; box-shadow:none; border-radius:0 2px 2px 0; border:1px solid #cdcdcd;}
#pro_newsletter .pro_btn:hover{
	 background:#E0E0E0;
	background: -webkit-linear-gradient(top, #E0E0E0, white);
	background:    -moz-linear-gradient(top, #E0E0E0, white);
	background:     -ms-linear-gradient(top, #E0E0E0, white);
	background:      -o-linear-gradient(top, #E0E0E0, white);
	-pie-background:      linear-gradient(top, #E0E0E0, white);}
		#pro_newsletter .error, #pro_newsletter .empty {		
		display:block;
		overflow:hidden;
		height:0px;
		font-size:10px;
		color:#F00;
		
		-webkit-transition: all 0.3s ease-out; 
		-moz-transition: all 0.3s ease-out; 
		-o-transition: all 0.3s ease-out; 
		transition: all 0.3s ease-out; 
	}
	#pro_newsletter label.invalid .error {
	height:19px;
}