/*--------- slider ---------*/

.slider {
    max-height: 350px;
    margin: 0 auto ;
    position: relative;
    width: 100%;/* 710px;*/
    z-index: 2;
}
.slider img{
	width:100%;
}

.items {
	display:none;
}

.pagination {
		position:absolute;
		bottom:74px;
		right:0px;
		padding:9px 11px 2px 14px;
		background:url(../images/banner-bg.png) left top repeat;
		display:inline-block;
		height:15px;	
		z-index:60;
	}
	.pagination li {
		float:left;
		padding:0 5px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
	}
		.pagination a {
			display:block;
			width:13px;
			height:13px;
			background:url(../images/pagin-a.png) left 0px no-repeat;
			font-size:0;
			line-height:0;
			text-decoration:none;
		}
			.pagination li.current a,
			 .pagination a:hover {
				background-position:0 -22px;
			}



.banner{	
	overflow:hidden;
	position:absolute;
	bottom:0px !important;
	top:auto !important;
	padding:20px 0 16px 17px;
	color:#fff;	
	z-index:15;	
}

.banner-bg {
	width:100%;
	bottom:0px;
	z-index:999;
	left:0px;
	height:74px;
	position:absolute;
	background:url(../images/banner-bg.png) left top repeat;
}

.banner a {
	color:#fff;	
	font-size:25px;	
	transition: all 0.4s ease 0s;
}

.banner a:hover {
	color:#c91b20;
	text-decoration:none;
}


.banner span {
    color: #C91B20;
    display: block;
    font-size: 12px;
    padding-top: 2px;
}



/*-------- end slider -----------*/

.col-1 {
	float:left;
	width:400px;
	padding-right:50px
}
* + html .min {
	min-height:45px;
}
.col-2 {
	float:left;
	width:400px;
}
/*-------- end preset -------*/