<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
</body>
</html>
/*! fancyBox v2.1.0 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('/css/images/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('/css/images/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('/css/images/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('/css/images/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

body,div,ul,li,a,span,p,img,table,td,tr,form { margin:0px; padding:0px;}
@font-face {
    font-family: 'TahomaRegular';
    src: url('../gfx/fonts/5102337.eot');
    src: url('../gfx/fonts/5102337.eot') format('embedded-opentype'),
         url('../gfx/fonts/5102337.woff') format('woff'),
         url('../gfx/fonts/5102337.ttf') format('truetype'),
         url('../gfx/fonts/5102337.svg#TahomaRegular') format('svg');
}
@font-face {
    font-family: 'TahomaBold';
    src: url('../gfx/fonts/8102345.eot');
    src: url('../gfx/fonts/8102345.eot') format('embedded-opentype'),
         url('../gfx/fonts/8102345.woff') format('woff'),
         url('../gfx/fonts/8102345.ttf') format('truetype'),
         url('../gfx/fonts/8102345.svg#TahomaBold') format('svg');
}
@font-face {
    font-family: 'TahomaItalic';
    src: url('../gfx/fonts/tahoma-bold-faux-italic-1361499065.eot');
    src: url('../gfx/fonts/tahoma-bold-faux-italic-1361499065.eot') format('embedded-opentype'),
         url('../gfx/fonts/tahoma-bold-faux-italic-1361499065.woff') format('woff'),
         url('../gfx/fonts/tahoma-bold-faux-italic-1361499065.ttf') format('truetype'),
         url('../gfx/fonts/tahoma-bold-faux-italic-1361499065.svg#TahomaBoldFauxItalic') format('svg');
}
@font-face {
    font-family: 'VerdanaBold';
    src: url('../gfx/fonts/verdana/2107179.eot');
    src: url('../gfx/fonts/verdana/2107179.eot') format('embedded-opentype'),
         url('../gfx/fonts/verdana/2107179.woff') format('woff'),
         url('../gfx/fonts/verdana/2107179.ttf') format('truetype'),
         url('../gfx/fonts/verdana/2107179.svg#TahomaBold') format('svg');
}
@font-face {
    font-family: 'VerdanaRegular';
    src: url('../gfx/fonts/verdana/8107167_0.eot');
    src: url('../gfx/fonts/verdana/8107167_0.eot') format('embedded-opentype'),
         url('../gfx/fonts/verdana/8107167_0.woff') format('woff'),
         url('../gfx/fonts/verdana/8107167_0.ttf') format('truetype'),
         url('../gfx/fonts/verdana/8107167_0.svg#TahomaBold') format('svg');
}
@font-face {
    font-family: 'Arial';
    src: url('../gfx/fonts/arial/arial.eot');
    src: url('../gfx/fonts/arial/arial.eot') format('embedded-opentype'),
         url('../gfx/fonts/arial/arial.woff') format('woff'),
         url('../gfx/fonts/arial/arial.ttf') format('truetype'),
         url('../gfx/fonts/arial/arial.svg#TahomaBold') format('svg');
}
html{
	background-image:url(../gfx/general/main_back.png);
	background-repeat:repeat;
	background-color: rgb(253, 253, 253);
}
body { 
	background-image:url(../gfx/general/body.png);
	background-repeat:no-repeat;
	background-position:top center;
	font-family: TahomaRegular;/*Arial, Helvetica, sans-serif;*/
	font-size: 12px;
	line-height: 18px;
	color: #52697E;
	padding-top:160px;
	padding-bottom: 20px;
}
input,button{
	outline:none;
	margin: 0px;
	color: #52697E;
}
a{text-decoration:none;}
a:active{text-decoration:none;}
html *{
	outline: none;
}
img,a{
	border:none;
}
.main{
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	margin:0px auto;
	max-width:1040px;
	-moz-box-shadow: 0 0px 10px rgba(0,0,0,0.5); /*#ddd;*/
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.5); /*#ddd;*/
	box-shadow: 0 0px 10px rgba(0,0,0,0.5); /*#ddd;*/
	background:#FFFFFF;
}
.main .chd_main{
	margin:0px 0px;
}
header{
	text-align:right;
	border-bottom:1px solid #888787;
	padding-bottom:10px;
	margin-top:19px;
}
header .all_count{
	color:#C50101;
	font-size:14px;
	margin-left:2%;
	line-height:26px;
	
	white-space: nowrap;
	/*display:inline-block;*/
	float:right;
}
header .all_count.count_link:hover{
	text-decoration:underline;
}
header .languages{
	float:left;
	width:100%;
	margin-top:10px;
}
header .languages a, header .languages span{
	float:right;
	margin-left:10px;
	font-size:14px;
	text-transform:uppercase;
}
header .languages span{
	color:#888787;
}
header .languages a{
	color:#C50101;
}
header .languages a:hover{
	text-decoration:underline;
	color:#C50101;
}
header .logo,header .logo a, header .logo a img{
	float:left;
}
header .menu{
	/*float:right;*/
}
header .menu_container{
	float:left;
	width:100%;
}
header .search{
	float:left;
	width:100%;
	position:relative;
	margin-top:10px;
}
header .search a{
	position:absolute;
	width:30px;
	height:30px;
	cursor:pointer;
	right:0px;
	top:0px;
	background:url(../gfx/general/btn_search.png);
	background-position:left top;
	background-repeat:no-repeat;
}
header .search a:hover{
	background-position:left bottom;
}
header .search input{
	float:left;
	width:100%;
	border:1px solid #cecdcd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-sizing: border-box;
	font-size:14px;
	padding:6px 10px;
}
.container_form{
	float:left;
	width:100%;
}
.form_item_list{
	float:left;
	width:100%;
	margin-bottom:10px;
}
.form_item_list .info_input{
	float:left;
	width:100%;
	color:#878688;
	font-size:14px;
	box-sizing: border-box;
	margin-bottom:5px;
}
.form_item_list .input_text,.form_item_list .textarea,.form_item_list .select{
	float:left;
	width:100%;
	max-width:500px;
	border:1px solid #cecdcd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-sizing: border-box;
	font-size:14px;
}
.form_item_list .input_text{
	padding:6px 10px;
}
.form_item_list .textarea{
	padding:5px;
	height:200px;
}
.form_item_list .select{
	padding:5px 10px;
}
.form_item_list.container_btns{
	max-width:500px;
}
.form_item_list .btn_add{
	float:right;
}
/*footer*/

footer{
	margin-top:20px;
	border-top:1px solid #888787;
	
	padding-top:10px;
	float:left;
	width:100%;
	margin-bottom:20px;
}
footer .copyright{
	margin-top:20px;
	border-top:1px solid #888787;
	padding:0px 10px;
	padding-top:10px;
}
footer .copyright span{
	color:#717171;
}
.menu_footer{
	float:right;
	font-size:14px;
}
.menu_footer a{
	float:right;
	font-size:14px;
	margin-left:10px;
	color:#717171;
}
.menu_footer a:hover{
	text-decoration:underline;
}


footer .info{
	/*float:left;*/
	/*width:100%;*/
	padding:0px 10px;
	color:#717171;
}
footer .group{
	/*float:right;
	width:49%;
	margin-right:1%;*/
	margin-top:10px;
	padding:0px 10px;
}
.letters{
	float:left;
	width:100%;
	margin-top:10px;
}
.letters a{
	float:left;
	font-size:14px;
	margin-right:5px;
	line-height:26px;
	padding:0px 9px;
	background:#7f7e7f;
	color:#FFFFFF;
	margin-bottom:5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.letters a:hover,.letters a.active{
	background:#111;
}

.pagination{
	float:left;
	width:100%;
	margin-top:20px;
	text-align:center;
}
.pagination ul li{
	display: inline-block;
}
.pagination a, .pagination .active span{
	color:#0a0a0a;
	font-size:14px;
	margin-right:5px;
	display:inline-block;
	line-height:26px;
	padding:0px 9px;
}
.pagination span{
	
}
.pagination .active span,.pagination a:hover{
	background:#111;
	color:#FFFFFF;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
/*end footer*/
.items{
	float:left;
	width:100%;
}
/*background:url(../images/bg7.gif);*/
.items .item{float:left;width:100%;background:url(../gfx/general/main_back.png);background-repeat:repeat;  background-color:#F9F8F8;}
.items .item:hover{
	/*background:url(../images/list-hov.gif);*/
	background:url(../gfx/general/main_back2.png);
	background-repeat:repeat-x;
	background-color:#CCCCCC;
}
.items .item a{
	cursor:pointer;
	float:left;
	width:100%;
	height:47px;
	/*background:url(../images/divider4.gif);*/
	background:url(../gfx/general/line.png);
	background-repeat:repeat-x;
	background-position:0 bottom;
}
/*.items .item a:hover{
	background:#111;
}*/
.items .item  a img{float:left;width:18px;height:18px;margin-top:14px; margin-left:5px;}
.items .item a span{float:left;margin-left:1%; line-height:46px;color:#000;font-size:14px;}
.clear{clear:both;}
.game{
	float:left;
	width:100%;
	margin-top:10px;
}
.game h1{
	font-size: 24px;
	line-height: 24px;
	font-family: TahomaBold;
	color: #494949;
}
.btn_add{
	margin-left:2%;
	display:inline-block;
	color:#FFFFFF;
	font-size:14px;
	background:#111;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:0px 15px;
	line-height:26px;
	margin-top:22px;
	border:none;
	cursor:pointer;
}
.btn_add:hover{
	background:#494949;
}
#likebox-wrapper * {
   width: 100% !important;
}
@media only screen and (min-width:320px){
	.main .chd_main{
		margin:0px 20px;
	}
}